.footer-container {
    background-color: #2B0B00;
    color: #FF851E;
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
    position: relative;
}