.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta as colunas automaticamente */
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: none;
    margin: 0 auto;
}

.grid-item {
    background-color: #fff;
    color: black;
    /* Remover o flexbox do item para que o ProductCard use o layout dele */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 1.2em;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.no-products {
    grid-column: 1 / -1;
}

@media (max-width: 768px) {
    .grid-container {
        /* grid-template-columns: repeat(3, 1fr);  */
    }
}

@media (max-width: 480px) {
    .grid-container {
        /* grid-template-columns: repeat(2, 1fr); */
    }
}